<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../CSS/AboutPage.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/alphardex/aqua.css@master/dist/aqua.min.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/c805d24519.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div id="mainContainer">

    <header>
        <div id="name">
            <h1>George Katsonis</h1>
        </div>

        <div id="socialMedia">
            <a href="https://github.com/XarsEvandor" class="fab fa-github-alt"></a>
            <a href="mailto:giorgos_katsonis@hotmail.com" class="fas fa-at"></a>
            <a href="tel:6942946552" class="fas fa-mobile-alt"></a>
        </div>

        <div id="login">
            <a href="LoginPage.html">Login</a>
        </div>
    </header>

    <nav>
        <input type="checkbox" id="burger-toggle">
        <label for="burger-toggle" class="burger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
        <div class="menu">
            <div class="menu-inner">
                <ul class="menu-nav">
                    <li class="menu-nav-item"><a class="menu-nav-link" href="HomePage.html"><span>
            <div>Home</div>
          </span></a></li>
                    <li class="menu-nav-item"><a class="menu-nav-link" href="#"><span>
            <div>About</div>
          </span></a></li>
                    <li class="menu-nav-item"><a class="menu-nav-link" href="ProjectsPage.html"><span>
            <div>Projects</div>
          </span></a></li>
                    <li class="menu-nav-item"><a class="menu-nav-link" href="StorePage.html"><span>
            <div>Store</div>
          </span></a></li>
                    <li class="menu-nav-item"><a class="menu-nav-link" href="ForumPage.html"><span>
            <div>Forum</div>
          </span></a></li>
                    <li class="menu-nav-item"><a class="menu-nav-link" href="ContactPage.html"><span>
            <div>Contact</div>
          </span></a></li>
                </ul>
                <div class="gallery">
                    <div class="title">
                        <p><a href="">Gallery</a></p>
                    </div>
                    <div class="images">
                        <a class="image-link" href="#">
                            <div class="image" data-label="Dreams"><img src="../../Assets/Images/Dream.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="#">
                            <div class="image" data-label="Small Steps"><img src="../../Assets/Images/Small%20Steps.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="#">
                            <div class="image" data-label="Deep Sea"><img src="../../Assets/Images/Deep%20Sea.jpg" alt=""></div>
                        </a>
                        <a class="image-link" href="#">
                            <div class="image" data-label="Violence in the snow"><img src="../../Assets/Images/Violence%20in%20the%20snow.jpg" alt=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="about">
        <section id="about-title">
            <h3>About</h3>
        </section>

        <section id="about-content">
            <article class="flyInTxtCont">
                <div class="flyIn lineOne lineOne-animation">PECULIAR</div>
                <div class="flyIn lineTwo lineTwo-animation">BIZARRE </div>
                <div class="flyIn lineThree lineThree-animation">VERY STRANGE</div>
                <div class="flyIn lineFour lineFour-animation">At this point cannot even be fazed.</div>
            </article>

            <article id="about-description" class="lineFour-animation">
                <p>A third year Cs student, I am creative, curious and overzealous, at times to a fault.
                    Always seeking the next new thing to invest my days into, whether it will be a new technology,
                    an exciting artistic avenue, or the latest idea that became a mini obsession.
                    Passionate in any work assigned to me, I strive for results that satisfy my own strict demands,
                    beyond external requirements or specifications.
                    Love working with passionate people and learning from them, as well as transmitting what knowledge
                    I possess, to others.
                </p>
            </article>
        </section>

        <footer>
            <p>Copyright &copy George Katsonis 2021 <3</p>
            <div id="footer-info">
                <span class="fas fa-at"></span><span>giorgos_katsonis@hotmail.com</span>
                <span class="fas fa-mobile-alt"></span><span>6942946552</span>
            </div>
        </footer>
    </div>
</div>

    <script src="../JavaScript/HomePage.js"></script>
</body>
</html>