@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background: linear-gradient(-45deg, #c55835, #b41a56, #0e6786, #088162);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0;
    font-family: Lora, sans-serif;
    text-rendering: optimizeSpeed;
}


@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#mainContainer{
    height: 100%;
    width: 1350px;
    margin: 2em auto auto;
    position: relative;
    z-index: 1;
}


/*================================= HEADER =================================*/

header{
    font-family: Lora, sans-serif;
    display: flex;
    justify-content: right;
    background-color: #282E34;
    position: fixed;
    width: 1350px;
    height: 80px;
    z-index: 2;
}

#name{
    color: antiquewhite;
    margin-right: 19%;
    cursor: default;
    user-select: none;
}

#socialMedia{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    align-self: center;
    width: 10%;
}

#login{
    padding-right: 4%;
    font-size: 1.5em;
    align-self: center;
    margin: 2%;
}

header a,
header a:visited{
    color: antiquewhite;
}

header a:hover,
header a:focus{
    color: #c48718;
}

a,
a:visited {
    color: white;
    transition: 0.25s;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #c48718;
}

header h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/*================================= HEADER =================================*/



/*================================= NAVBAR =================================*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Lora, sans-serif;
    position: fixed;
    z-index: 100;
}

nav.p {
    margin: 0;
}

#burger-toggle {
    position: absolute;
    appearance: none;
    opacity: 0;
}
#burger-toggle:checked ~ .menu {
    opacity: 1;
    visibility: visible;
}
#burger-toggle:checked ~ .menu .menu-nav-link span div,
#burger-toggle:checked ~ .menu img,
#burger-toggle:checked ~ .menu .title p {
    transform: translateY(0);
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
#burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
    transition-delay: 0.18s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
    transition-delay: 0.26s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
    transition-delay: 0.34s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
    transition-delay: 0.42s;
}
#burger-toggle:checked ~ .burger-menu .line::after {
    transform: translateX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
    transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
    transform: scaleX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
    transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}

.burger-menu {
    --burger-menu-radius: 4em;
    position: fixed;
    top: 4%;
    left: 20%;
    z-index: 100;
    display: block;
    width: var(--burger-menu-radius);
    height: var(--burger-menu-radius);
    outline: none;
    cursor: pointer;
}
.burger-menu .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: antiquewhite;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.burger-menu .line:nth-child(1) {
    top: 30%;
}
.burger-menu .line:nth-child(2) {
    top: 50%;
}
.burger-menu .line:nth-child(3) {
    top: 70%;
}
.burger-menu .line::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c48718;
    transform: translateX(-100%);
    transition: 0.25s;
}
.burger-menu .line:nth-child(2)::after {
    transition-delay: 0.1s;
}
.burger-menu .line:nth-child(3)::after {
    transition-delay: 0.2s;
}
.burger-menu:hover .line::after {
    transform: translateX(0);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1e23;
    opacity: 0;
    overflow-x: hidden;
    visibility: hidden;
    transition: 0.3s;
}
@media screen and (max-width: 750px) {
    .menu {
        display: block;
    }
}
.menu-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
@media screen and (max-width: 750px) {
    .menu-nav {
        flex-direction: column;
    }
}
.menu-nav-item {
    flex: 1;
}
.menu-nav-link {
    position: relative;
    display: inline-flex;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
.menu-nav-link span {
    overflow: hidden;
}
.menu-nav-link span div {
    transform: translateY(102%);
}
.menu-nav-link::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #c48718;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.menu-nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.menu .gallery {
    margin-top: 60px;
    text-align: center;
}
.menu .title {
    font-size: 24px;
    color: white;
    overflow: hidden;
}
.menu .title p {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateY(102%);
}
.menu .images {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
    .menu .images {
        justify-content: center;
    }
}
.menu .images .image-link {
    width: 15vw;
    margin: 0 12px;
    overflow: hidden;
}
@media screen and (max-width: 750px) {
    .menu .images .image-link {
        width: 40vw;
        margin: 0 12px 12px 0;
    }
}
.menu .images .image-link .image {
    position: relative;
    transition: 0.6s;
}
.menu .images .image-link .image::before {
    position: absolute;
    content: attr(data-label);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.4s;
}
.menu .images .image-link:hover .image {
    transform: scale(1.2);
}
.menu .images .image-link:hover .image::before {
    opacity: 1;
}
.menu .images img {
    height: 250px;
    transform: translateY(102%);
}
/*================================= NAVBAR =================================*/

/*================================== GRID / PROJECTS ==============================*/

#gallery{
    background-color:#282E34;
    font-family: Lora, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 800px;
    color: black;
    text-shadow: 2px 2px 4px whitesmoke;
}

.grid-col-span-2{
    grid-column: span 2;
}

.grid-row-span-2{
    grid-row: span 2;
}

.card-container{
    height: 45em;
    padding: 2em;
    margin-top: -2em;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.card{
    padding: 2rem;
    margin-top: 3em;
    font-size: 1.2rem;
    background: radial-gradient(ellipse at bottom, #0b4845 0%, #033b57 100%);;
    border: 3px transparent;
    border-radius: 10px;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    color: antiquewhite;
    transition-duration: 0.8s;
    z-index: 50;
    cursor: pointer;
}

#dreams{
    background-image: url("../../Assets/Images/Dream.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#smallSteps{
    background-image: url("../../Assets/Images/Small Steps.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#deepSea{
    background-image: url("../../Assets/Images/Deep Sea.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#violence{
    background-image: url("../../Assets/Images/Violence in the snow.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card:hover{
    transform: scale(1.1);
    letter-spacing: 0.1em;
}

/*================================== GRID / PROJECTS ==============================*/


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 200;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 60em;
    max-height: 40em;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 200;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}